# Email Sending to Website & Form Submitter
RESEND_API_KEY=""

# Newsletter Email Google Sheet
NEWSLETTER_GOOGLE_SHEETS_URL=""

# Google AdSense Publisher ID
NEXT_PUBLIC_ADSENSE_CLIENT_ID="ca-pub-XXXXXXXXXXXXXXXX"
